<section>
  <div class="top-banner">
    <img src="" alt="">
  </div>
  <div class="banner-title text-center">
    <h4>Moulding international careers the Japanese way</h4>
  </div>
</section>
<section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="abt-desc">
    <p>
      Being the guiding light for students world over, in helping them choose the right stream of education along with concurrent placement services in Japan; EduWork comprises a team of experts in the HR and overseas education domains that builds successful careers.
    </p>
    <p>
      EduWork in partnership with O-HARA College Of Business, Japan, empowers you with the Diploma in Automobile Engineering course and stands to offer many more courses in the near future.
    </p>
      </div>
    </div>
  </div>
</div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="vision-mision-box">
          <div class="text-center">
            <h4>
Vision</h4>
          </div>
          <p>
            Empowering the youth to build a future of their choice and assisting them to gain financial freedomwhile achieving their goals.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="vision-mision-box">
          <div class="text-center">
            <h4>
Mission</h4>
          </div>
          <p>
          To build an organization which understands today’s youth and their aspirations, empowering them to make the right career choices in Japan as we strengthen our organization, based on ethics, values, honesty and integrity.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h4>Objective</h4>
        </div>
        <p>Our motto is to be recognized as an organization of ethics, values and the one and only choice when it comes to looking for educational opportunities in Japan. We are the career choice for undergraduates and working professionals from skilled and non-skilled backgrounds.</p>
      </div>
    </div>
  </div>
</section>
