<section>
  <div class="top-banner">
    <img src="img/abtahorat-banner.jpg" alt="about o-hara" class="img-responsive">
  </div>
  <div class="banner-title text-center">
    <h4>O-HARA College Of Business – A legacy since 1957</h4>
  </div>
</section>
<section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="abt-desc">
        <p>
          O-HARA Gakuen, a legally incorporated educational institute, is committed to mold the future of students through specialized education and contribute to social development. We operate various schools including kindergarten, high schools, vocational schools, and graduate schools on a nationwide scale in major cities from Hokkaido to Okinawa to provide a wide range of specialized education.
        </p>
        <p>
          We also offer specialized education in Japanese language, accounting, and computer skills to students from overseas in an ideal environment. In addition, depending on the students' need, we provide a thorough preparatory education for those who wish to enter higher educational institutes and also advocate integrated education from vocational training to job recruiting for those who wish to obtain a job.
        </p>
        <p>
          We have small classes for international students who aspire to be specialists in accounting at our graduate schools. O-HARA has a large chain of branches all over Japan, 105 as on April 2016. There are many international students studying at O-HARA College of Business. A total number of 1,30,000 students study at the O-HARA College of Business. Students from countries like People's Republic of China, Socialist Republic of Viet Nam, Kingdom of Nepal, Democratic Socialist Republic of Sri Lanka, Republic of Korea, People's Republic of China(Taiwan), Kingdom of Thailand, Mongolia, Union of Myanmar, Republic of Indonesia, Malaysia, People's Republic of Bangladesh, Republic of Uzbekistan, Kingdom of Cambodia and Russian Federation study at the O - HARA College of Business.
        </p>
      </div>
    </div>
  </div>
</div>
</section>
<section>
  <div class="main-img">
    <!-- slider -->
    <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>
    <div class="img-main-title">
      <h4>
O-HARA Students Baseball Club</h4>
    </div>
  </div>
</section>
<section>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-9">
      <div class="abt-know-more text-center">
        <h4>To know more about O-HARA College of Business </h4>
    <div class="text-center">
      <button class="btn btn-default">
    click here
      </button>
    </div>
      </div>
    </div>
    <div class="col-md-2">

          <div class="left-side-img pull-right">
            <img src="img/twin-brother.png" alt="" class="img-responsive">
          </div>
    </div>
  </div>
</div>

</section>
