<section>
  <div class="top-banner">
    <img src="img/workinjapan.jpg" alt="work in japan" class="img-responsive">
  </div>
  <div class="banner-title text-center">
    <h4>Work in japan</h4>
  </div>
</section>
<section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h4>The land of the rising sun</h4>
        <p>
            Japan is truly timeless, a place where ancient traditions are fused with modern life as if it were the most natural thing in the world. The "Land of the Rising Sun" is where the past meets the future. Japanese culture stretches back millennia, yet has also been quick to adopt and created the latest modern fashions and trends. Japan has often been seen in the West as a land combining tradition and modernity, and many traditional structures and practices are preserved, but modern structures and practices definitely dominate your experience in Japan. Japan was the first Asian country to independently modernize, and the country continues to embrace new technologies and aesthetics, but unlike in many countries, Japan does not feel a particular need to attack or remove older technologies, structures, or practices.
        </p>
      </div>
      <hr>
      <h4>How EduWork in partnership with O-HARA College Of Business helps you carve out your work life, while and after studying </h4>
    <p>Education apart, O-HARA College of Business also supports you in pursuing your professional life. As you study, O-HARA helps you seek part time jobs. As per Japanese law, students are allowed to work for up to 28 hours in a week. O-HARA College of Business also assists you in latching on to fulltime jobs in Japan, post studies. O-HARA College Of Business has a 100% placement record since the past 7 years. Japan has a history of being always warm to foreign students and envelopes them with a safe environment wherein they could pursue education and professional lives without hassles.</p>
    </div>
  </div>
</div>
</section>
<section>
  <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
      <li>
          <img ng-src="{{s}}" class="img-full">
      </li>
  </flex-slider>
</section>
<section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h4>Japan – An enterprising, safe haven for students & professionals</h4>
        <p>
          Japan is one of the most developed countries in the world, economically, and way ahead of others in scientific research and technology. People in universities and businesses carry out extensive research in technology and apply the same to innovate. Many significant breakthroughs have had their research and development, worked out in Japan. Students studying in Japan are exposed to this ingrained culture, wherein research is given utmost importance. The work culture is disciplined and brings about the best in professionals. People, who have studied and worked in Japan, are stamped with a reputation that is admired world over, because of which the chances of them landing a job, internationally are more than their counterparts from other parts of the world. Along with nurturing a career in Japan, students also get to imbibe the richness of Japanese culture, which has its own uniqueness.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="right-train pull-right">
        <img src="img/train.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</div>
</section>
