<section>
  <div class="container">
      <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
          <li>
              <img ng-src="{{s}}" class="img-full">
          </li>
      </flex-slider>
  </div>

</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 padding0">
        <div class="left-offer">
          <img src="" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-md-6 padding0">
        <div class="right-offer">
      <div class="content-title">
        <h2>
Our unique offering that’ll transform your career
        </h2>
      </div>
      <div class="content-desc">
        <p>
The course of Diploma in Automobile Engineering is what O-HARA College of Business, Japan, offers to students currently. EduWork aims to offer many more courses in the near future.
        </p>
      </div>
          <div class="pull-right">
            <button class="btn btn-default">know more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="home-service">
          <div class="text-center">
            <h2>Small or big, every facet diligently taken care of</h2>
          </div>
          <div class="home-service-desc">
            <p>
Our main focus is to promote study and work in Japan for Indian students and be committed to providing end to end solutions for their overseas education.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="position-relative">
  <div class="service-below">
    <img src="" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="service-list">
          <ul class="padding0 display-inline">
            <li>
              <div class="main-ser-box">
                <div class="img-icon">
                  <img src="" alt="">
                </div>
                <div class="ser-box-name">
                  <span>

                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="middle-curve-img">
    <img src="" alt="">
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="middle-sec-box">
        <div class="middle-sec-title">
          <h4>Moulding international careers the Japanese way</h4>
        </div>
        <div class="middle-sec-desc">
          <p>Being the guiding light for students world over, in helping them choose the right stream of education along with concurrent placement services in Japan; EduWork comprises a team of experts in the HR and overseas education domains that builds successful careers. </p>
          <p>EduWork in partnership with O-HARA College Of Business, Japan, empowers you with the Diploma in Automobile Engineering course and stands to offer many more courses in the near future.</p>
        </div>
        <div class="pull-right">
          <button class="btn btn-default">know more</button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="home-cr-box">
          <div class="cr-title">
            <h4></h4>
          </div>
          <div class="cr-list-detail">
            <ul>
              <li ng-repeat="item in course track by $index">
{{item}}
              </li>
            </ul>
          </div>
          <div class="cr-ft-text">
            <span>
The course of Diploma in Automobile Engineering is what EduWork offers currently.</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cr-box-img">
          <ul>
            <li>
              <img src="" alt="">
            </li>
          </ul>
          <div class="cr-main-img">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
