<section>
  <div class="top-banner">
    <img src="" alt="">
  </div>
  <div class="banner-title text-center">
    <h4>O-HARA College Of Business – A legacy since 1957</h4>
  </div>
</section>
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <img src="img/services/img-1.png" alt="" class="img-responsive">
                        <div>
                            <h4>Counseling<br> Students and Parents</h4>
                            <p>
                                Studying and working abroad is no menial decision that one takes. It’s something that’ll build your career for a lifetime.
                                Taking such a big decision involves a lot of time, research and guidance, which is what we
                                at EduWork provide.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="img/services/img-2.png" alt="" class="img-responsive">
                        <div>
                            <h4>Coaching in<br> Japaneese Language</h4>
                            <p>
                                EduWork, along with O-HARA College Of Business, provides short term Japanese language coaching for the students who are selected
                                for the course, prior to and after their travel to Japan. Apart from this EduWork also offers
                                specialized Japanese language coaching facility to students in India.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="img/services/img-3.png" alt="" class="img-responsive">
                        <div>
                            <h4>Admission/Application<br> Process</h4>
                            <p>
                                We will take care of all the admission and application formalities in order to study at the O-HARA College of Business. We
                                provide plug-n-play solutions for your education needs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="img/services/img-4.png" alt="" class="img-responsive">
                        <div>
                            <h4>Student<br> Visa Assistance</h4>
                            <p>
                                We help you with all the facets of the procedures for acquiring ‘Student Visa’, right from documentation, preparing financial
                                statements, guidance and training for mock interviews if required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <img src="img/services/img-5.png" alt="" class="img-responsive">
                        <div>
                            <h4>Educational<br> Loan Assistance</h4>
                            <p>
                                We provide complete assistance for your educational loan, as we have tie ups with nationalized banks, private banks and financial
                                institutions to help you out with loan disbursals. We help you out with the documentation,
                                selection of banks and all other procedures for acquiring your educational loan.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="img/services/img-6.png" alt="" class="img-responsive">
                        <div>
                            <h4>Accommodation &<br> Local Assistance</h4>
                            <p>
                                Accommodation is provided by O-HARA and is included in the fee structure of the course. You, therefore have no hassles of
                                searching for safe accommodation facilities in Japan. We also arrange for local assistance
                                in Japan.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="img/services/img-7.png" alt="" class="img-responsive">
                        <div>
                            <h4>Foreign Exchange<br> and Ticketing</h4>
                            <p>
                                Our tie ups with leading Forex dealers, ticketing and insurance companies ensure that we provide efficient and competitive
                                solutions to our students.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <img src="img/services/img-8.png" alt="" class="img-responsive">
                        <div>
                            <h4>Medical<br> Fitness Checkup</h4>
                            <p>
                                We have tie ups with leading hospitals and diagnostic centers for the medical fitness checkup for students, as part of the
                                visa processing requirement.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section>
  <div class="left-side-img">
      <img src="img/services/lady.png" alt="" class="img-responsive">
  </div>
</section>
